<header class="section-header">
  <div class="section-header__nav">
    <nav>
      <div class="container section-header__nav-wrapper">
        <span class="section-header__nav-box">
          <a href='#'>
            <img src="images/logo.png" alt="logo" class="section-header__nav-image" />
          </a>
        </span>
        <ul class="main-nav">
          <li class="main-nav__item">
            <a href='#service' class="main-nav__item-link">
              Услуги
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#stage' class="main-nav__item-link">
              Портфолио
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#example' class="main-nav__item-link">
              Этапы
            </a>
          </li>
          <li class="main-nav__item">
            <a href='#info' class="main-nav__item-link">
              Дизайнеры
            </a>
          </li>
        </ul>
        <button type="click" class="burger">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </button>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="section-header__content">
      <div class="section-header__content-img section-header__content-img--blue">
        <img src="images/bg/header-blue-circle-desktop.png" alt="circle">
      </div>
      <h2 class="section-header__content-title">
        Разработка<br>
        интернет-магазина<br>
        с нуля за неделю
      </h2>
      <p class="section-header__content-text">
        Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета - от
        фирменного стиля
        до пользовательского интерфейса в сжатые сроки с командой Virtual Designers
      </p>
      <button class='button' type="button">Заказать</button>
    </div>
  </div>
</header>