<section class="section-info" id="info">
  <div class="section-header__content-img section-header__content-img--blue section-header__content-img--info">
    <img src="images/bg/header-blue-circle-desktop.png" alt="circle">
  </div>
  <div class="section-info__container">
    <div class="section-info__circle">
      <img src="images/bg/example-mb.png" alt="circle">
    </div>
    <div class="section-info__img section-info__img--desktop">
      <img src="images/bg/info-desktop.png" alt="info">
    </div>
    <div class="section-info__box">
      <h3 class="section-service__title section-service__title--info">Необходимо больше информации?</h3>
      <div class="section-info__img">
        <img src="images/bg/info-mb.png" alt="info">
      </div>
      <p class="card-slider__text card-slider__text--info">
        Если Вы владелец онлайн-магазина или только начинаете свой путь в электронной
        коммерции и вам нужен уникальный дизайн онлайн магазина для стартапа, обратитесь к нашему веб дизайнеру. За
        выгодную
        цену и короткий период времени, он поможет визуализировать ваш веб-проект.
      </p>
      <button type="button" class="button">оставить заявку</button>
    </div>
  </div>
</section>