<section class="section-example" id="example">
  <h2 class="section-service__title section-service__title--example">Примеры онлайн-магазинов
  </h2>
  <div class="section-example__content">
    <div class="section-example__block">
      <article class="card-content">
        <img src="images/example/two-miniature-background_1.png" alt="example-1">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для оптовых покупок</h4>
        </div>
      </article>
      <article class="card-content">
        <img src="images/example/close-up-of-hair-dryer.png" alt="example-2">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для парикмахеров</h4>
        </div>
      </article>
      <article class="card-content">
        <img src="images/example/deva-williamson.png" alt="example-3">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для кондитеров</h4>
        </div>
      </article>
    </div>
    <div>
      <article class="card-content">
        <img src="images/example/baby-s-breath-flower.png" alt="example-4">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для флористов</h4>
        </div>
      </article>
      <article class="card-content">
        <img src="images/example/pexels-shiny-diamond.png" alt="example-5">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для визажистов</h4>
        </div>
      </article>
      <article class="card-content">
        <img src="images/example/color-palette-catalogue.png" alt="example-6">

        <div class="card-content__wrapper">
          <h3 class="card-content__title">Онлайн-магазин</h3>
          <h4 class="card-content__subtitle">для художников</h4>
        </div>
      </article>
    </div>
  </div>

  <div class="section-stage__buttons">
    <button class="section-stage__btn section-stage__btn--left section-example__btn--left">
      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>
    <button class="section-stage__btn section-stage__btn--right section-example__btn--right">
      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>
  </div>
  <div class="section-header__content-img section-example__content-img--circle">
    <img src="images/bg/example-desktop.png" alt="circle">
  </div>
</section>