<section class="section-service" id="service">
  <h3 class="section-service__title">Что входит в услугу по созданию дизайна интернет-магазина?</h3>
  <button class="card-service">
    <div class="card-service__title">Дизайн портала
      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </div>
    <p class="card-service__text">Дизайн портала — это оформление контента, совокупность всех графических
      элементов на веб-странице. Основная задача дизайна — познакомить пользователя со страницей. Продуманный дизайн
      создает нужное впечатление о компании.
    </p>
  </button>
  <button class="card-service">
    <div class="card-service__title">Дизайн адаптивной мобильной версии

      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </div>
    <p class="card-service__text">Мобильная версия сайта удобна для пользователя, потому что сильно упрощена по
      сравнению с обычной версией. Мобильная версия позволяет совершать заказ/покупку с минимумом действий.
      При адаптивной версии вся структура сайта автоматически подстраивается под различную ширину экрана.

    </p>
  </button>
  <button class="card-service">
    <div class="card-service__title">Дизайн десктопной версии

      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </div>
    <p class="card-service__text">Десктопную версию сайта просматривают пользователи со стационарных компьютеров.
      Основная цель: посерфить, углубиться в детали, получить больше информации, сравнить, выбрать, прицениться.

    </p>
  </button>

  <button class="card-service">
    <div class="card-service__title">Пользовательский интерфейс

      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </div>
    <p class="card-service__text">
      Цель дизайна пользовательского интерфейса - сделать взаимодействие максимально простым и эффективным, насколько
      это возможно, с точки зрения достижения целей пользователя.
    </p>
  </button>

  <button class="card-service">
    <div class="card-service__title">Микро UX

      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </div>
    <p class="card-service__text">Микро-анимация может изменить восприятие продукта, пользовательское поведение и
      повысить конверсию. Небольшие, преимущественно функциональные анимации поддерживают пользователя: обеспечивают
      визуальную обратную связь и более понятно отражают происходящие изменения.

    </p>
  </button>
</section>