<section class="section-stage" id="stage">
  <div class="section-stage__info">
    <img src="images/bg/example-mb.png" alt="circle">
  </div>
  <h3 class="section-service__title">
    Этапы разработки
    интернет-магазина
  </h3>
  <div class="section-stage__box">
    <article class="card-slider">
      <h3 class="card-slider__title">1. Анализ</h3>
      <p class="card-slider__text">Для того, чтобы онлайн-магазин приносил выгоду, перед его запуском необходимо
        провести анализ других предложений рынка, оценить конкурентов и найти наиболее удобное решение. </p>
      <div class="card-slider__img">
        <img src="images/stages/analysis.png">
      </div>
    </article>
    <article class="card-slider">
      <h3 class="card-slider__title">2. Визуальное решение</h3>
      <p class="card-slider__text">
        Разработка дизайна ключевых страниц магазина – главная, каталог, информационные разделы, раздел корзины,
        товаров. Для нас главное – передать настроение бренда, сделать удобный сайт.
      </p>
      <div class="card-slider__img">
        <img src="images/stages/visualSolution.png">
      </div>
    </article>
    <article class="card-slider">
      <h3 class="card-slider__title">3. Техническая реализация</h3>
      <p class="card-slider__text">
        После утверждения дизайн-макета наступает следующий этап – верстка. Это трудоемкий процесс: программисты должны
        все тщательно прописать, чтобы не допустить технических ошибок.
      </p>
      <div class="card-slider__img">
        <img src="images/stages/technicalImplementation.png">
      </div>
    </article>
    <article class="card-slider">
      <h3 class="card-slider__title">4. Наполнение контентом </h3>
      <p class="card-slider__text">
        Создание и публикация текстов, а также видео материала. Хороший контент и качественные фотографии привлекают
        больше посетителей и помогают клиенту лучше ознакомиться с ассортиментом.
      </p>
      <div class="card-slider__img">
        <img src="images/stages/fillingContent.png">
      </div>
    </article>
    <article class="card-slider">
      <h3 class="card-slider__title">5. Тестирование </h3>
      <p class="card-slider__text">
        Составление плана тестирования для определения ошибок. Проверка работы сайта и визуального восприятия для
        улучшения сайта. Также используются чек-листы для четкого определения ошибок и их устранения.
      </p>
      <div class="card-slider__img">
        <img src="images/stages/testing.png">
      </div>
    </article>
  </div>
  <div class="section-stage__buttons">
    <button class="section-stage__btn section-stage__btn--left">
      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>
    <button class="section-stage__btn section-stage__btn--right">
      <svg class="card-service__svg">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>
  </div>
</section>