<section class="section-form">
  <h3 class="section-service__title">Обсудить проект</h3>
  <p class="card-slider__text section-form__text">Расскажите о своих бизнес-целях и мы поможем вам в их достижении</p>

  <form method="post" autocomplete="false" class="section-form__form">
    <div class="section-form__wrapper">
      <input type="text" name="name" minlength="3" id='name' placeholder='Имя' required
        class="section-form__wrapper-input">
      <label for="name" class="section-form__wrapper-label">
        <img src="images/icons/icon-error.png" alt="error">
        Введите имя не меньше 3 символов!
      </label>
    </div>
    <div class="section-form__wrapper">
      <input type="tel" name="phone" id='phone' placeholder='Telegram/Viber' class="section-form__wrapper-input">
      <label for="phone" class="section-form__wrapper-label">
        <img src="images/icons/icon-error.png" alt="error">
        Пример: +380251030201
      </label>
    </div>
    <div class="section-form__wrapper">
      <input type="email" name="email" id='email' placeholder='Email' required class="section-form__wrapper-input">
      <label for="name" class="section-form__wrapper-label">
        <img src="images/icons/icon-error.png" alt="error">
        Пример: user1@example.com
      </label>
    </div>
    <button type="submit" class="button button--disabled" id="btnSubmit">Отправить</button>
  </form>
  <div class="section-form__img">
    <img src="images/bg/form-mb.png" alt="phone">
  </div>
</section>