// Text Colors
$text-main-color: #484848;
$text-primary-color: #111;
$text-second-color: #000;
$text-light-color: #FFF;
$text-dark-color: #000;

// Background Colors
$background-main-color: #DAECFF;
$background-primary-color: #64ABF9;
$background-second-color: #67AEFC;
$background-light-color: #fff;

// Icon Colors
$icon-main-color: #75E169;
$icon-primary-color: #6EB1FB;
$icon-dark-color: #000;
$icon-light-color: #fff;

// Button Colors
$button-main-color: #75E169;

// Border Colors
$border-main-color: #67AEFC;
$border-primary-color: #6EB1FB;

// Text Family
$font-family-main: 'Montserrat',
sans-serif;

// Radius Box
$box-radius-main: 10px;
$box-radius-primary: 15px;
$box-radius-half: 50%;

// Text Size 
$font-size-ultraSmall: 14px;
$font-size-small: 15px;
$font-size-smallMedium: 16px;
$font-size-medium: 17px;
$font-size-ultraMedium: 18px;
$font-size-mediumBig: 20px;
$font-size-big: 23px;
$font-size-ultraBig: 27px;
$font-size-large: 32px;
$font-size-ultraLarge: 50px;

// Text Weight
$font-weigth-main: 400;
$font-weigth-primary: 700;
$font-weigth-bold: 800;

// Container Width
$max-width-container: 1180px;
$max-width-slider: 960px;

// Screen Width
$screen-iphone: 375px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-hd: 1280px;