.modal-window {
  @include flex-constructor(center, center, column);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 100%;
  padding: 30px 70px;
  background-color: $background-light-color;
  filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.25));
  z-index: 20;
}

.modal-window--active {
  display: flex;
  animation: show-card 0.5s linear;
}

.modal-window__image {
  margin-bottom: 30px;
}

.modal-window__button {
  @extend %button;
  position: absolute;
  top: 30px;
  right: 30px;

  &>svg {
    @include svg-constructor(20px, 20px, $icon-dark-color);
  }
}

.modal-window__title {
  @include text-constructor($font-size-ultraMedium, $font-weigth-bold, $text-second-color);
  margin-bottom: 14px;
  line-height: 50px;
  text-align: center;

  @include media-tablet {
    font-size: $font-size-ultraBig;
  }
}

.modal-window__text {
  @include text-constructor($font-size-small, $font-weigth-main, $text-main-color);
  line-height: 36px;
  max-width: 515px;
  text-align: center;

  @include media-tablet {
    font-size: $font-size-medium;
  }
}