.card-content {
  max-width: 567px;
  max-height: 447px;
  @include image-padding-hack(1%, cover);
  border-radius: $box-radius-primary;
  transition: all 0.2s ease;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .card-content__wrapper {
      cursor: pointer;
      @include flex-constructor(center, center, column);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $background-primary-color;
      border-radius: $box-radius-primary;
      animation: show-card 0.5s ease;
      transition: all 0.2s ease;
    }
  }
}

.card-content__wrapper {
  display: none;
}

.card-content__title {
  @include text-constructor($font-size-medium, $font-weigth-bold, $text-light-color);
  margin-bottom: 8px;
  line-height: 27px;
  text-transform: uppercase;
}

.card-content__subtitle {
  @include text-constructor($font-size-medium, $font-weigth-main, $text-light-color);
  line-height: 30px;
}

.slick-initialized .slick-slide {
  @include flex-constructor(center, center, column);
  display: flex !important;
}