.card-slider {
  @include flex-constructor(flex-start, center, column);
  display: flex !important;
  padding: 27px 26px 27px 36px;
  border: 1px solid $border-main-color;
  border-radius: $box-radius-main;
  min-height: 615px;

  @include media-desktop {
    flex-direction: row !important;
    max-width: 672px;
    margin-right: 25px;
    min-height: auto;
    padding: 57px 30px 57px 70px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.card-slider__img {
  margin: 0 auto;
  max-width: 277px;
  max-height: 287px;
  height: 100%;
  width: 100%;
  @include image-padding-hack(1%, contain);
}

.card-slider__content {
  @include media-desktop {
    max-width: 300px;
    width: 100%;
  }
}

.card-slider__title {
  @include text-constructor($font-size-medium, $font-weigth-bold, $text-dark-color);
  text-transform: uppercase;
  align-self: flex-start;
  line-height: 27px;

  @include media-desktop {
    margin-bottom: 24px;
    font-size: $font-size-mediumBig;
  }
}

.card-slider__text {
  @include text-constructor($font-size-medium, $font-weigth-main, $text-dark-color);
  align-self: flex-start;
  line-height: 175%;
  margin-bottom: 56px;

  @include media-desktop {
    font-size: $font-size-ultraMedium;
    line-height: 25px;
    margin-bottom: 0;
  }
}