.section-footer {
  @extend %section;
  min-height: auto;
  padding: 45px;
  background-color: $background-second-color;

  @include media-desktop {
    padding: 100px 20px 80px 20px
  }
}

.section-footer__logo {
  margin: 0 auto;
  margin-bottom: 25px;

  @include media-desktop {
    margin-bottom: 45px;
  }
}

.section-footer__text {
  padding-left: 20px;
  @include text-constructor($font-size-smallMedium, $font-weigth-main, $text-light-color);
  line-height: 22px;
  margin-bottom: 22px;

  @include media-iphone-plus {
    text-align: center;
  }

  @include media-desktop {
    margin-top: 25px;
    min-width: 150px;
  }
}


.section-footer__text--last {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}

.section-footer__container {
  @include flex-constructor(center, center, column);

  @include media-desktop {
    max-width: 960px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 120px;
  }
}