.section-example {
  @extend %section;
  padding-bottom: 30px;
  background-color: $background-main-color;
}

.section-example__content {
  @include flex-constructor(center, center, row);
  margin-bottom: 30px;
}