.section-header {
  @extend %section;
  padding: 20px 20px 50px 20px;
  @include flex-constructor(flex-end, center, column);
  background-image: url('../images/bg/header-mb.png');
  background-size: 100%;
  background-position: center 80px;
  background-repeat: no-repeat;

  @include media-tablet {
    background-size: 776px, 613px;
    padding: 80px 20px;
    justify-content: flex-end;
    align-items: flex-start;
    background-position-x: 80%;
    background-position-y: 170px;
    background-image: url('../images/bg/header-desktop.png');
  }

  @include media-desktop {
    justify-content: center;
  }
}

.section-header__box--hidden {
  min-height: 350px;
  height: 100%;

  @include media-tablet {
    display: none;
  }
}

.section-header__content-img {
  display: none;

  @include media-tablet {
    display: block;
    position: absolute;
  }
}

.section-header__content-img--blue {
  @include box-size(52px, 52px);
  left: -133px;
  top: -35px;
}

.section-header__content-img--bigCircle {
  @include box-size(609px, 548px);
  right: 0;
  top: 172px;
  z-index: -1;
}

.section-header__content-img--leftCircle {
  @include box-size(149px, 193px);
  left: 0;
  bottom: 40px;
  z-index: -2;
}

.section-header__content-img--leftLine {
  @include box-size(171px, 63px);
  left: 65px;
  bottom: 95px;
  z-index: -1;
}

.section-header__nav {
  position: fixed;
  max-height: 50px;
  height: 100%;
  background-color: $background-primary-color;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;

  @include media-tablet {
    max-height: 95px;
  }
}

.section-header__nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flex-constructor(space-between, center, row);
  max-height: 50px;
  padding: 10px;
  z-index: 11;

  @include media-tablet {

    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    max-height: 93px;
    height: 100%;
  }
}

.section-header__nav-box {
  z-index: 11;
}

.section-header__nav-image {
  max-width: 136px;
  width: 100%;

  @include media-tablet {
    max-width: 242px;
  }
}

.section-header__slider {
  position: static;
  @include flex-constructor(flex-start, center, row);
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.section-header__content {
  position: relative;
  @include flex-constructor(flex-start, flex-start, column);
  max-width: 838px;

}

.section-header__content-title {
  @include text-constructor($font-size-ultraBig, $font-weigth-bold, $text-dark-color);
  line-height: 120%;
  margin-bottom: 22px;
  text-transform: uppercase;

  @include media-tablet {
    color: $text-main-color;
    width: 100%;
    max-width: 800px;
    line-height: 62px;
    margin-bottom: 20px;
    font-size: $font-size-ultraLarge;
    text-transform: none;
  }
}

.section-header__content-text {
  @include text-constructor($font-size-smallMedium, $font-weigth-main, $text-dark-color);
  line-height: 140%;
  margin-bottom: 34px;

  @include media-tablet {
    max-width: 432px;
    margin-bottom: 58px;
  }
}